$desaturated-dark-cyan: hsl(180, 29%, 50%);
$light-grayish-cyan-filters: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);

#filter-bar {
	background-color: white;
	max-width: 90%;
	margin: 0 auto;	
	box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 12px;

	#filter-bar-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px 20px;

		#filters-container {
			display: flex;
			flex-wrap: wrap;

			.filter-wrapper {
				display: flex;
				margin: 5px;
				border-radius: 5px;
				overflow: hidden;

				.tag {
					background-color: $light-grayish-cyan-filters;
					color: hsl(180, 29%, 50%); 
					padding: 10px;
				}

				.filter-remove {
					background-color: $desaturated-dark-cyan;
					width: 40px; //minimum comfortable size for mobile clicks
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}


		#clear-filters-button {
			color: $dark-grayish-cyan;
			font-weight: 700;
		}	
	}
}

