$desaturated-dark-cyan: hsl(180, 29%, 50%);
$light-grayish-cyan-filters: hsl(180, 31%, 95%);

.job-wrapper {
  // font: 100% $font-stack;
  display: flex;
  // justify-content: space-between;
  align-items: center;

  width: 800px;
  background-color: white;
  margin: 10px auto;
  padding: 10px 20px;
  
  border: 2px solid black;
  border-radius: 3px;

  font-size: 15px;
	font-family: 'Spartan', sans-serif;			

	&.featured {
		border-left: 4px solid $desaturated-dark-cyan;
	}

	.logo {
		// width: 60px;
		// height: 60px;
	}

	.details-wrapper {
		display: flex;
		flex-direction: column;
		text-align: left;
		// border: 2px solid green;
		margin-left: 20px;
		line-height: 2em;

		.company-and-highlights-wrapper {
			display: flex;
			// height: 1em;

			.company {
				color: hsl(180, 29%, 50%);
				// font-weight: bold;
			}

			.highlight {
				padding: 2px 5px;
				margin: 0 5px;
				border-radius: 10px;
				height: 1.1em;				


				&.new {
					color: white;
					background-color: $desaturated-dark-cyan;
				}

				&.featured {
					color: white;
					background-color: hsl(180, 14%, 20%);
				}
			}
		}

		.position {
			font-size: 1.2em;
			font-weight: 700;
		}				
	
		.posting-details {
			display: flex;
			color: hsl(180, 8%, 52%);
		}
	}

	.tags-wrapper {
		margin-left: auto;
		display: flex;
		// border: 2px solid grey;
		align-items: center;

		.tag {
			background-color: $light-grayish-cyan-filters;
			color: hsl(180, 29%, 50%); 
			padding: 3px;
			height: 1em;
			margin: 0 5px;
		}
	}

}

