$desaturated-dark-cyan: hsl(180, 29%, 50%);
$light-grayish-cyan-filters: hsl(180, 31%, 95%);

.job-wrapper {
  // font: 100% $font-stack;
  display: flex;
  justify-content: space-between;

  width: 600px;
  background-color: white;
  margin: 10px auto;
  padding: 10px 0;
  // border: 2px solid blue;
  font-size: 15px;
	font-family: 'Spartan', sans-serif;			


	.details-wrapper {
		display: flex;
		flex-direction: column;
		text-align: left;
		// border: 2px solid green;

		.company-and-highlights-wrapper {
			display: flex;
			// height: 1em;

			.company {
				color: hsl(180, 29%, 50%);
				// font-weight: bold;
			}

			.highlight {
				padding: 0 5px;
				margin: 0 5px;
				border-radius: 10px;				

				&.new {
					color: white;
					background-color: $desaturated-dark-cyan;
				}

				&.featured {
					color: white;
					background-color: hsl(180, 14%, 20%);
				}
			}
		}
	
		.posting-details {
			display: flex;
			color: hsl(180, 8%, 52%);
		}
	}

	.tags-wrapper {
		// margin-right: 0;
		display: flex;
		// border: 2px solid grey;
		align-items: center;

		.tag {
			background-color: $light-grayish-cyan-filters;
			color: hsl(180, 29%, 50%); 
			padding: 3px;
			height: 1em;
			margin: 0 5px;
		}
	}

}

